
.TdHeader {
  width: 15%;
  text-align: center;
  font-size: 40px;
  background-color: rgb(234, 251, 251);

}
.TdHeader1 {  
  width: 17%;
  text-align: center;
 background-color:rgb(210, 233, 253);
}
* {box-sizing: border-box;}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
}
.dropbtn {
    padding: 16px;
    font-size:25px;
    border: none;
  }
  .dropdown {
  
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    font-size: 17px;
    display: none;
    position: absolute;
    background-color:  rgb(0,13,255);
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: rgb(40, 72, 255)}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: aliceblue}
  body, html {
    height: 100%;
  }
/* ------------------------------------------------- */

div ul li{ 
  list-style: none;

}
a {
  text-decoration: none;
}
/* ---------------------------------------------------------------- */
/* trang2 */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* ------------------------------------------------------------------------------------------------- */

/* css nút Thêm sủa xóa */

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 30%;
}

/* ---------------------------------------------------------------------------- */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
    border-radius: 30px;
  }

.topnav {
  background-color: rgb(210, 233, 253);
  margin-bottom: 0px;
  height:610px;
  width: 350px;
 
  overflow: hidden;
  background-color: rgb(234, 251, 251);
  position: relative;   
  
}
.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  display: block;
}

.topnav a.icon {
  background: rgb(210, 233, 253);
  display: block;
  position: absolute;
  right: 0px;
  top: 1px;
}

.topnav a:hover {
  background-color: deepskyblue;
  color: rgb(250, 117, 1);
}

.active {
  background-color: rgb(210, 233, 253);
}
.btn {  
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: deepskyblue;
}
