
img{
    width: 295px; height: 300px;
    margin-right: 5px;
    float: left;
}
table{
    background: #ffc107;
    color: blue;
}

div {
    background: lightsalmon;
}


a {
    color: blueviolet;
}
h2 {
    background: #ffc107

}
div ul li {
    list-style-type: none;

}

.abc ul li {
    list-style-type: none;
}