.col-lg-3 {
    text-decoration: none;
}
img{
    width: 295px; height: 300px;
    margin-right: 5px;
    float: left;
}
table{
    background: #ffc107;
    color: blue;
}
h1 {
    background: #ffc107 ;
}